<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notesy V2</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
  </head>
  <body data-github-id="<%= githubId %>">
    <div id="app"></div>
    <script src="webpack-build.js"></script>
  </body>
</html>
