body {
  margin: 0;
  padding: 0;
  font: normal normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header .svg-icon svg {
  height: 25px;
  width: 25px;
}

.header {
  height: 35px;
  line-height: 35px;
  background: #eee;
  padding: 0;
  margin: 0;
}

.header p {
  margin: 0;
  text-align: center;
}

.header a:link,
.header a:visited {
  color: black;
}

.sidebar {
  width: 25%;
  float: left;
  border-right: 1px solid #ccc;
  overflow: scroll;
}

.main {
  width: 70%;
  float: right;
  margin-right: 10px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  position: relative;
}

.sidebar-document-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
  height: 70px;
  background: #F8F8F8;
  border-bottom: 1px solid #EEE;
}

.sidebar-document-link .content {
  width: 70%;
  display: block;
}

.sidebar li:hover {
  cursor: pointer;
}

.sidebar a:link,
.sidebar a:visited,
.sidebar a:hover {
  color: blue;
  text-decoration: none;
}

.sidebar a:hover {
  background: #eee;
}

.sidebar .date {
  position: absolute;
  top: 8px;
  right: 5px;
  font-size: 12px;
  color: #BBB;
}
